@import url('https://use.typekit.net/waz4tsx.css');
$list-bg-color: #ebecf0;

$column-header-height: 46px;
$column-footer-height: 46px;

$common-element-bg: rgba(255, 255, 255, 0.24);

$gap: 10px;

//$navbar-app-height + $navbar-board-height + $board-content-height = 100vh
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 91vh;

$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';