@import url('https://use.typekit.net/waz4tsx.css');

$gap: 10px;
$board-bg-color: #0079bf;
$appbar-bg-color: #0067a3;

$list-bg-color: #ebecf0;

$column-header-height: 46px;
$column-footer-height: 46px;

$common-element-bg: rgba(255, 255, 255, 0.24);

body {
    margin: 0;
    font-family: 'ibm-plex-sans', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    line-height: 1.3rem;
    background-color: $board-bg-color;

    .navbar {
        padding-left: $gap;
        display: flex;
        align-items: center;

        &.app {
            background-color: $appbar-bg-color;
            font-size: 1.5rem;
        }

        &.board {
            background-color: $board-bg-color;
            font-size: 1.1rem;
        }
    }
    .board-columns {
        display: flex;
        margin: 0 $gap $gap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:horizontal {
            height: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $common-element-bg;
            border-radius: 8px;
        }

        .column {
            flex: 0 0 auto;
            width: 300px;
            height: calc(100% - #{$gap});

            &:not(:first-child) {
                margin-left: $gap;
            }

            & > * {
                background-color: #ebecf0;
                color: #333;
                padding: 0 8px;
            }

            header {
                padding-left: 15px;
                height: $column-header-height;
                line-height: $column-header-height;
                font-size: 16px;
                font-weight: bold;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            footer {
                padding-left: 10px;
                height: $column-footer-height;
                line-height: $column-footer-height;
                font-size: 16px;
                font-weight: bold;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            ul {
                list-style-type: none;
                margin: 0;
                max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
                overflow-y: auto;

                &::-webkit-scrollbar {
                    -webkit-appearance: none;
                }

                &::-webkit-scrollbar:vertical {
                    width: 11px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: darken($list-bg-color, 15);
                    border-right: solid 5px $list-bg-color;
                }

                li {
                    background-color: white;
                    padding: $gap;
                    border-radius: 4px;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    img {
                        display: block;
                        max-width: 100%;
                        width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                    .title {
                        padding: 0 $gap;
                    }
                    &:not(first-child) {
                        padding: $gap 0;
                    }
                }
            }
        }
    }
}