@import './_setting.scss';

body {
    margin: 0;
    font-family: 'ibm-plex-sans', sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    line-height: 1.3rem;
    background-color: $board-bg-color;
}